.#*
*~
*#
\#*#
Berksfile.lock
bin
bin/*
.bundle
.bundle/*
.cache
/cookbooks
coverage
doc
Dockerfile-kitchen*
*.gem
Gemfile.lock
.kitchen
.kitchen.local.yml
metadata.json
nodes/
.*.sw[a-z]
test/kitchen/.kitchen/
*.un~
.vagrant
vendor
.yardoc
