suites:
- name: default
  run_list:
    - recipe[postfix-dovecot_test]
  attributes: { }
- name: ses
  run_list:
    - recipe[minitest-handler]
    - recipe[postfix-dovecot_test]
  attributes:
    postfix-dovecot:
      ses:
        enabled: true
        email: no-reply@sesdomain.com # SES valid from, only used in tests
        username: AMAZON_SES_SMTP_USERNAME
        password: AMAZON_SES_SMTP_PASSWORD
